.DS_Store
.venv/
Mammalia
gmt
.env
data/
.ipynb_checkpoints
csv/
*.dump

raw_data/
summary_figures/
kg_assertions_for_neo4j/
benchmarking_results/
Gene-Knowledge-Graph/
edge_constructing_files/
filtered_edge_list/
package-lock.json
benchmarking_figures.ipynb
public/schema.json

# test folders
kg_assertions_for_neo4j_large/
filtered_edge_list_large_network/
benchmarking_results_large_networks/
figures/
cytoscape_ITCR_poster/
Dockerfile_dontuse
kg_assertions_for_neo4j_all_networks/
about.md
data_deployment/
CPTAC/
tutorial/
misc_notebooks/

data/
out/
reviewed/