.DS_Store
.venv/
Mammalia
gmt
.env
.env.development
package-lock.json
data/
.ipynb_checkpoints
import_csv_old.py
csv/
*.dump

raw_data/
kg_assertions_for_neo4j/
benchmarking_results/
fig_data/
outdated/
edge_constructing_files/
filtered_edge_list/
benchmarking_figures.ipynb
public/schema.json


figures/
Dockerfile_dontuse
data/
out/
reviewed/

minio-data/
