.DS_Store
.venv/
Mammalia
gmt
.env
.env.development
data/
.ipynb_checkpoints
import_csv_old.py
csv/
*.dump

raw_data/
summary_figures/
kg_assertions_for_neo4j/
benchmarking_results/
fig_notebooks/
Gene-Knowledge-Graph/
edge_constructing_files/
filtered_edge_list/
package-lock.json
benchmarking_figures.ipynb
public/schema.json

# test folders
figures/
cytoscape_ITCR_poster/
Dockerfile_dontuse
tutorial/
misc_notebooks/

data/
out/
reviewed/

minio-data/
